<h1>Hello <%= current_user.email%> </h1>
<h2>Task list</h2>

<% if !@tasks.nil? %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.title, task %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "New Task", new_task_path %>

